main {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 15px;
    hr {
        width: 95%;
        margin: auto;
        height: 3px;
        background: #e4e9ec;
    }
    .switch {
        margin-left: 2.5%;
        .option {
            margin-right: 3px;
            height: 7px; width: 7px;
            background: gray;
            float: left;
            margin-bottom: 15px;
        }
        .active {
            background: rgb(67, 65, 65);
        }
    }
    @import './rows.scss';
}